.searchBar {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.movieCard {
  min-width: 280px;
  margin-left: 30px;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  transition: transform 0.2s;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.row {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.movieCard:hover {
  transform: translateY(-5px);
}

.poster {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 0.75rem;
}

strong {
  font-weight: 600;
}

.readMore {
  display: inline-block;
  margin-top: 0.5rem;
  color: #0077cc;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease;
}

.readMore:hover {
  color: #005fa3;
  text-decoration: underline;
}

.registerBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.loginBtn {
  display: flex;
  justify-content: flex-end;
}

.buttonGroup {
  display: flex;
  gap: 5px;
}

.loginForm {
  font-size: 48px;
}

.movieTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
}

.landingPage {
  background-color: #476d9e;
}

.title {
  font-size: 20px;
}

.searchRow {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.searchRow label {
  margin-left: 30px;
  margin-bottom: 30px;
  color: #fff;
}

.genres {
  display: flex;
  margin-right: 30px;
  margin-bottom: 8px;
}

.movieApp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome {
  text-align: left;
  margin-top: 10px;
  margin-left: 30px;
}

.sectionTitle {
  margin-left: 30px;
  margin-bottom: 20px;
  color: #fff;
}

.heartButton {
  position: relative;
  z-index: 10;
}
